@layer contact {
  .contact {
    // max-inline-size: 700px;
    margin-inline: auto;
    padding: var(--main-gap, 1rem);
    background-color: var(--header-bg-color);
    border-radius: var(--border-radius, 6px);
  }

  .cform {
    --form-accent-color: greenyellow;

    textarea {
      height: 4lh;
    }
  
    display: grid;
    gap: var(--main-gap, 1rem);

    @media (width > 500px) {
      grid-template-columns: 1fr 1fr;
    }
  
    .cform__field--wide {
      grid-column: 1 / -1;
    }
    
    .cform__field {
      display: grid;
      grid-auto-rows: min-content;
    }

    .cform__field:has([required]) label {
      display: flex;
      gap: 1ch;

      &::after {
        content: "*";
        color: var(--button-color);
      }
    } 
  
    .cform__label {
      color: var(--fg);
    }
    
    input:not([type="radio"], [type="checkbox"]),
    textarea,
    .cform__field:has([type="radio"], [type="checkbox"]) {
      padding: .7em 1em;
      border: 1px solid var(--button-color);
      border-radius: 6px;
      color: var(--fg);

      &:focus-visible {
       outline-color: var(--form-accent-color);
      }
      
      &:user-valid,
      &:has(:user-valid) {
        box-shadow: inset 4px 0 0 var(--form-accent-color);
      }

      &:user-invalid,
      &:has(:user-invalid) {
        box-shadow: inset 4px 0 0 var(--warning-color);
      }
    }

    .cform__field:has([type="radio"], [type="checkbox"]) {
      // display: flex;
      display: grid;
      grid-template-columns: auto 1fr;

      column-gap: 1ch;
      position: relative;

      label::before {
        content: "";
        position: absolute;
        inset: 0;
        cursor: pointer;
      }

      .cform__err-msg {
        grid-column: 1 / -1;
      }
    }

    [type="radio"],
    [type="checkbox"] {
      width: 1.4rem;
      margin: 0;
      accent-color: var(--form-accent-color);
    }
    
    .cform__err-msg {
      font-size: .9rem;
      color: var( --warning-color);

      &:empty {
        display: none;
      }
    }
  
    .cform__submit {
      display: block;
      cursor: pointer;
      margin: 0 auto;
      padding: 0.5em;
      min-width: 24ch;
      font-size: 1.1em;
      text-transform: uppercase;
      letter-spacing: .02em;
      border: none;
      border-radius: 4px;
      background-color: var(--button-color);
      color: var(--button-text);

      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }
  }
}
