.cform {
  --form-gap: 1.5rem;
  --form-accent-color: greenyellow;

  display: grid;
  gap: var(--form-gap, --main-gap);
  grid-template-columns: repeat(auto-fill, minmax(Max(280px, calc(50% - var(--form-gap))), 1fr));
  background-color: var(--line-color);
  padding: var(--form-gap);
  border-radius: 5px;

  .cform__field {
  }

  .cform__field--wide {
    grid-column: 1 / -1;
  }

  .cform__label {
    position: relative;
    display: block;
    color: var(--text-main-color);
    
    &:has(*[required])::before {
      content: "*";
      position: absolute;
      left: -.5em;
      color: var( --warning-color);
    }
  }
  
  .cform__input {
    display: block;
    width: 100%;
    margin-block-start: 0.2rem;
    padding: .7em;
    border: none;
    border-radius: 3px;
    font-size: inherit;
    color: var(--text-main-color);
    
    &:user-valid {
      box-shadow: inset 4px 0 0 var(--form-accent-color);
    }
    
    &:user-invalid {
      box-shadow: inset 4px 0 0 var(--warning-color);
    }
  }

  .cform__chk-input {
    width: 1.4rem;
    aspect-ratio: 1;
    margin: -.1em 0 0;
    accent-color: var(--form-accent-color);
  }
  
  .cform__chk-input:user-invalid {
    box-shadow: inset 5px 0 5px -3px var(--warning-color);
  }
  
  .cform__label:has(.cform__chk-input) {
    display: flex;
    gap: calc(var(--form-gap) / 5);
    align-items: center;
    cursor: pointer;
  }

  .cform__err-msg {
    visibility: hidden;
    margin: 0;
    margin-block-start: .2rem;
    font-size: .9rem;
    // text-align: end;
    color: var( --warning-color);
  }

  .cform__field:has(:user-invalid) .cform__err-msg {
    visibility: visible;    
  }

  .cform__submit {
    display: block;
    cursor: pointer;
    margin: 0 auto;
    padding: 0.5em;
    min-width: 24ch;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: .02em;
    border: none;
    border-radius: 4px;
    background-color: var(--button-color);
    color: var(--button-text);
  }
}