{{ define "main" }}
<section id="main">
  <h1 id="title">{{ .Title }}</h1>
  
  <aside id="meta">
    <p>last edit {{ .Date.Format "2.01.2006" }}</p>
  </aside>

  <div>
    <article id="content">
        {{ .Content }}
    </article>
  </div>

  <div class="price-list">
    <ul class="price-list__cards">
      {{ range sort .Site.Data.price "order" }}        
        <li class="price-cards__item price-card">
          <div class="price-card__header">
            <div class="price-card__name">{{ .name }}</div>
            <div>{{ .descr }}</div>
          </div>
          <div class="price-card__line">{{ .fromP }}–{{ .toP }} {{$.Params.pages }}</div>
          <div class="price-card__line">{{ $.Params.contactForm }} {{ .cForm }}</div>
          <div class="price-card__line">{{ $.Params.mobileVersion }} {{ .mVersion }}</div>
          <div class="price-card__line">{{ $.Params.pageSpeed }} {{ .pageSpeed }}</div>
          <div class="price-card__price">€ {{ .price }},—</div>
          <div class="price-card__cta">
            {{ with .cta }}
              {{ . }}
            {{ else }}
              <a href={{ "contact" | relURL }}>{{ $.Params.cta }}</a>
            {{ end }}
          </div>
        </li>
      {{ end }}
    </ul>

    <div class="price-list__addon">
      <h3>{{ .Params.addon_header | markdownify }}</h3>
      <p>{{ .Params.add_on_notes | markdownify }}</p>
    </div>
  </div>
</section>
{{ end }}