{{ define "main" }}

{{ partial "common/page-header.html" . }}

<section class="service-list">
  {{- range $k, $card := .Pages.ByWeight }}
  <article class="service-card">
    <a class="service-card__link" href="{{ .RelPermalink }}">
      <h3 class="service-card__title">{{ .Title }}</h3>
      <picture class="service-card__img">
        {{- with .Resources.GetMatch "thumb" }}
        {{- $thmbwebp := .Fit "450x225 webp" }}
        {{- $thmbjpg := .Fit "450x225" }}
        <source type="image/webp" srcset="{{ $thmbwebp.RelPermalink }}">
        <img src="{{ $thmbjpg.RelPermalink }}" alt="{{ $card.Title }}" {{/* width="{{ $thmbjpg.Width }}" */}} {{/*
             height="{{ $thmbjpg.Height }}" */}} loading="lazy" decoding="async">
        {{- else }}
        <img src="https://picsum.photos/450/225.webp?random={{ $k }}" loading="lazy" decoding="async" alt="Placeholder">
        {{- end }}
      </picture>
      <div class="service-card__content">{{ .Summary }}</div>
      <p class="service-card__footer">{{ T "service.from" }} {{ .Params.price_from }} €</p>
    </a>
  </article>
  {{- end }}
</section>

{{- end }}