{{ define "main" }}
  <div class="portfolio">
    {{ partial "common/page-header.html" . }}
    <ul class="portfolio__categores categories">
      {{ range .Pages }}
      <li class="categories__item">
        <a class="categories__link" href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
    
    {{ with .Sections }}
      {{ range . }}
        <h3>{{ .Name }}</h3>
        <ul class="pages-list">
          {{ range .Pages }}
            <li class="pages-list__item">
              {{ partial "page-card" . }}
            </li>
          {{ end }}
        </ul>
      {{ end }}
    {{ else }}
      <ul class="pages-list">
        {{ range .Pages }}
          <li class="pages-list__item">
            {{ partial "page-card" . }}
          </li>
        {{ end }}
      </ul>
    {{ end }}
    </ul>
  </div>
{{ end }}