<header class="header">
  <div class="width-wrapper">
    <div class="header__top logo-phone">
      <h1 class="logo">
        <a class="link" href="{{ .Site.BaseURL }}">
          <span>{{ .Site.Params.titleWord }}</span>{{ .Site.Params.titleDigit }}{{ with  .Site.Params.department }} – <span>{{ . }}</span>{{ end }}
        </a>
      </h1>
      <a class="header__phone phone" href="tel:{{ .Site.Params.phoneLink }}">
        <svg class="phone__icon" width="32" height="32">
          <use href="{{ .Site.BaseURL }}images/menu-sprite.svg#phone"></use>
        </svg>
        <span class="phone__text">{{ .Site.Params.phone }}</span>
      </a>
      {{ partial "lang-switcher.html" . }}
    </div>
    <nav class="header__menu menu">
      <button class="menu__button" aria-expanded="false" aria-controls="menu__list">
        <svg class="menu__icon" width="32" height="32" aria-hidden="true">
          <use class="menu__icon--menu" href="{{ .Site.BaseURL }}images/menu-sprite.svg#menu"></use>
          <use class="menu__icon--cross" href="{{ .Site.BaseURL }}images/menu-sprite.svg#cross"></use>
        </svg>
      </button>
      {{ $currentPage := . }}
      <ul class="menu__list" id="menu__list">
        {{- range .Site.Menus.top }}
        <li>
          <a {{ if $currentPage.IsMenuCurrent "top" . -}}
            class="menu__link menu__link--current"
            {{- else if $currentPage.HasMenuCurrent "top" . -}}
            class="menu__link menu__link--current" href="{{ .URL }}"
            {{- else -}}
            class="menu__link" href="{{ .URL }}"
            {{- end }}>{{ .Name }}</a>
        </li>
        {{- end }}
      </ul>
    </nav>
  </div>
  <div class="header__arc"></div>
</header>
