<div class="scroller">
    <ul class="scroller__list">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>A11y</li>
        <li>SSG</li>
        <li>i18n</li>
        <li>TypeScript</li>
    </ul>
</div>

<div class="scroller" data-speed="fast" data-direction="right">
    <ul class="scroller__list">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>A11y</li>
        <li>SSG</li>
        <li>i18n</li>
        <li>TypeScript</li>
    </ul>
</div>