{{- $pricing := .Site.Data.pricing -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {{- range $index, $plan := $pricing.monthly_plans.plans -}}
    {
      "@type": "Product",
      "name": "{{ i18n (printf "plan_%s_full_name" .id) }}",
      "description": "{{ i18n (printf "plan_%s_full_description" .id) }}",
      "sku": "{{ .sku }}",
      "offers": {
        "@type": "Offer",
        "price": "{{ .price }}",
        "priceCurrency": "EUR",
        "priceSpecification": {
          "@type": "UnitPriceSpecification",
          "price": "{{ .price }}",
          "priceCurrency": "EUR",
          "billingDuration": 1,
          "billingIncrement": 1,
          "unitCode": "MON"
        },
        "availability": "https://schema.org/InStock"
      }
    },
    {{- end -}}
    {
      "@type": "Product",
      "name": "{{ i18n $pricing.hourly_work.full_name_key }}",
      "description": "{{ i18n $pricing.hourly_work.full_description_key }}",
      "sku": "{{ $pricing.hourly_work.sku }}",
      "offers": {
        "@type": "Offer",
        "price": "{{ $pricing.hourly_work.rate }}",
        "priceCurrency": "EUR",
        "priceSpecification": {
          "@type": "UnitPriceSpecification",
          "price": "{{ $pricing.hourly_work.rate }}",
          "priceCurrency": "EUR",
          "billingDuration": 1,
          "billingIncrement": 1,
          "unitCode": "HUR"
        },
        "availability": "https://schema.org/InStock"
      }
    }
  ]
}
</script>
