<nav aria-label='{{ T "langswitcher" }}'>
    <ul class="lang-switcher__list">
        {{ range .Site.Languages }}
        <li class="lang-switcher__item">
            {{ if eq .Lang site.Language.Lang }}
            <span aria-current="page" class="lang-switcher__current" lang="{{ .Lang }}">
                {{ .LanguageName }}
            </span>
            {{ else }}
            {{ $translated := index (where page.Translations "Lang" .Lang) 0}}
            {{ if $translated }}
            <a href="{{ $translated.RelPermalink }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}"
               class="lang-switcher__link">
                {{ .LanguageName }}
            </a>
            {{ else }}
            <a href="{{ site.Home.RelPermalink }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}" class="lang-switcher__link">
                {{ .LanguageName }}
                <span class="visually-hidden">(нет перевода)</span>
            </a>
            {{ end }}
            {{ end }}
        </li>
        {{ end }}
    </ul>
</nav>