<article class="pano360-card">  
  <a class="pano360-card__link" href="{{ .RelPermalink }}">
    <h4 class="pano360-card__header">{{ .Name }}</h4>
  </a>
  {{ with .Resources.ByType "image"}}
    {{  $img := index (shuffle .) 0 }}
    {{ $imgwebp := $img.Resize "x180 webp" }}
    {{ $imgjpg := $img.Resize "x180" }}
    <picture class="pano360-card__image">
      <source type="image/webp"
        srcset="{{ $imgwebp.RelPermalink }}">
      <img
        src="{{ $imgjpg.RelPermalink }}"
        alt="{{ $.Name }} — 360 Panorama"
        loading="lazy"
        decoding="async"
        width="{{ $imgjpg.Width }}"
        height="{{ $imgjpg.Height }}">
    </picture>
  {{ end }}  
</article>