@use 'var';
@use 'common';
@use 'header';
@use 'main-block';
@use 'footer';
@use 'portfolio';
@use 'services';
@use 'faq';
@use 'price';
@use 'contact';
@use 'pages-list';
@use 'panos';
@use 'page404';