@use '../var' as *;

.price-list__cards {
  // margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
  @media (min-width: $header-top-dskt-width) {
    flex-direction: row;
  }
}

.price-card {
  border: 3px solid var(--cards-color);
  border-radius: 4px;
  flex: 1;
  overflow: hidden;
}

.price-card__header {
  background-color: var(--cards-color);
  padding: .5em;
  text-align: center;
  letter-spacing: .3px;
}

.price-card__name {
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: .6px;
}

.price-card__line {
  background-color: #fff;
  padding: .5em;
  text-align: center;
  border-bottom: 1px solid #dde;
}

.price-card__price {
  background-color: var(--illuminating);
  font-weight: 400;
  letter-spacing: .3px;
  padding: 1em;
  text-align: center;
  border-bottom: 2px solid #dde;
}

.price-card__cta {
  background-color: var(--button-color);
  color: var(--button-text);
  padding: 1em;
  text-align: center;
  
  a {
    color: inherit;
    letter-spacing: .3px;
    text-decoration: none;
    text-transform: uppercase;
  }
}