.faq__list {
    max-width: 80ch;

    details {
        border: 3px solid var(--cards-color);
        border-radius: var(--card-border-radius);

        &:not(:last-child) {
            margin-bottom: var(--block-gap);
        }

        &::details-content {
            background-color: oklch(from var(--cards-color) l c h / .4);
            font-size: 0.9em;
            block-size: 0;
            overflow-y: clip;
            transition:
                content-visibility .5s allow-discrete,
                block-size .5s;
        }

        &[open]::details-content {
            block-size: auto;
        }

        * {
           margin: 0;
        }

        > p {
            padding: var(--block-padding);
        }

        summary {
            padding: calc(var(--block-padding) / 2) var(--block-padding);
            background-color: var(--cards-color);
            /* list-style-position: outside; */
            /* margin-inline-start: var(--block-padding); */
        }
    }
}
