@use '../var' as *;

.header {
  position: relative;
  display: grid;
  margin-bottom: 2.5%;
  // row-gap: var(--block-padding);

  background-color: var(--header-bg-color);
  font-family: var(--header-font-family);
  
  .width-wrapper {
    padding-bottom: 0;
  }

  .header__top {
    z-index: 1;
  
    a {
      text-decoration: none;
      color: var(--text-main-color);
    }
  }
  
  .header__menu {
    @media (max-width: ($header-menu-dskt-width - 1)) {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
    }
  
    // @media (min-width: $header-menu-dskt-width) {
    //   align-self: center;
    // }
  }
  
  .header__arc {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-bottom: 5%;
    margin-bottom: -2.5%;
    z-index: -1;
    
    &::after {
      content: '';
      position: absolute;
      width: 120%;
      height: 100%;
      margin-left: -10%;
      background-color: var(--header-bg-color);
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
    }
  }
}