@use '../var' as *;


.header {
  --arc-height: 2.5vw;
  --arc-overwidth: 12vw;
  
  position: relative;
  display: grid;
  margin-block-end: var(--arc-height);
  background-color: var(--header-bg-color);
  font-family: var(--header-font-family);
  color: var(--text-color);
  
  .width-wrapper {
    padding-bottom: 0;
  }
  
  .header__arc {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    overflow: clip;
    width: 100%;
    height: 0;
    padding-bottom: calc(var(--arc-height) * 2);
    margin-bottom: calc(var(--arc-height) * -1);
    z-index: -1;
    
    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: calc(100% + var(--arc-overwidth) * 2);
      margin-inline-start: calc(var(--arc-overwidth) * -1);
      background-color: var(--header-bg-color);
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
    }
  }
  
  .header__top {
    z-index: 1;
  
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  
  .header__menu {
    @media (max-width: ($header-menu-dskt-width - 1)) {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
    }
  }
}