.lang-switcher{
  
  .list {
      list-style: none;
      display: flex;
      gap: 1rem;
      padding: 0;
      font-weight: 200;
      color: var(--text-main-color);
      text-transform: uppercase;
      letter-spacing: 0.02em;

      .link {
        text-decoration: none;
        color: inherit;
        
        &:hover,
        &:focus-visible {
          color: var(--link-hover-color);
        }
      }
      
      .current {
        font-weight: 600;
      }
    }
}