@use '../var' as *;

.logo-phone {
  margin-right: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  column-gap: 20px;
  font-size: 120%;
  font-weight: 100;
  
  .logo {
    .logo__title {
      color: #fff;
      text-shadow: -1px 1px 1px #777,
                    1px 1px 1px #777,
                    1px -1px 1px #777,
                   -1px -1px 1px #777;
      font-weight: 100;
      line-height: 1em;
      margin: 0;
      
      span {
        font-weight: 600;
        letter-spacing: -0.02em;

      }

    }
  }
  
  .phone {
    flex-grow: 1;
    text-align: center;
    align-self: center;

    .phone__icon {
      fill: var(--text-main-color);
      &:hover {
        fill: var(--link-hover-color);
      }
    }
    
    .phone__text {
      display:none;
      &:hover {
        color: var(--link-hover-color)
      }
    }

    @media (min-width: $header-top-dskt-width) {
      .phone__icon {
        display: none;
      }
      
      .phone__text {
        display:inline;
        font-size: 1.3em;
      }
    }
  }
}