{{ define "main" }}
<section id="main">
  <h1 id="title">{{ .Title }}</h1>

  <article id="content">
    {{ .Content }}
  </article>

  <div class="contact">
    {{ with .Params.formTitle -}}
    <h2 class="contact-form__header">{{ . }}</h2>
    {{- end }}
    <form id="cform" class="cform" autocomplete="on" novalidate>
      <div class="cform__field">
        <label for="name" class="cform__label">{{ T "cf.name_label" }}</label>
        <input id="name" type="text" name="name" required maxlength="128" autocomplete="name"
                placeholder='{{ T "cf.name_placeholder" }}' data-error='{{ T "cf.name_error" }}' value="">
        <span class="cform__err-msg" aria-live="polite"></span>
      </div>
      <div class="cform__field">
        <label for="company" class="cform__label">{{ T "cf.company_label" }}</label>
        <input id="company" type="text" name="company" maxlength="256" autocomplete="organization"
                placeholder='{{ T "cf.company_placeholder" }}' data-error='{{ T "cf.company_error" }}'>
        <span class="cform__err-msg" aria-live="polite"></span>
      </div>
      <div class="cform__field">
        <label for="email" class="cform__label">{{ T "cf.email_label" }}</label>
        <input id="email" type="email" name="email" required maxlength="128" autocomplete="email"
                placeholder='{{ T "cf.email_placeholder" }}' data-error='{{ T "cf.email_error" }}'>
        <span class="cform__err-msg" aria-live="polite"></span>
      </div>
      <div class="cform__field">
        <label for="phone" class="cform__label">{{ T "cf.phone_label" }}</label>
        <input id="phone" type="tel" name="phone" minlength="9" maxlength="32" autocomplete="tel"
                placeholder='{{ T "cf.phone_placeholder" }}' data-error='{{ T "cf.phone_error" }}'>
        <span class="cform__err-msg" aria-live="polite"></span>
      </div>
      <div class="cform__field cform__field--wide">
        <label for="message" class="cform__label">{{ T "cf.message_label" }}</label>
        <textarea id="message" name="message" required maxlength="4096" cols="30" rows="10"
                  placeholder='{{ T "cf.message_placeholder" }}' data-error='{{ T "cf.message_error" }}'></textarea>
        <span class="cform__err-msg" aria-live="polite"></span>
      </div>
      <div class="cform__field cform__field--wide">
        <input id="consent" class="cform__chk-input" type="checkbox" name="agree-chk" required>
        <label for="consent" class="cform__label"><span>{{ (T "cf.consent_label" ("/privacy" | relLangURL)) | safeHTML }}</span></label>
        <span class="cform__err-msg" aria-live="polite"></span>
      </div>
      <div class="cform__field cform__field--wide">
        <button class="cform__submit">{{ T "cf.submit_button" }}</button>
      </div>
  
      {{- partial "common/dialog.html" (dict
        "header" ((T "cf.submit_success_header") | safeHTML)
        "text" ((T "cf.submit_success_msg") | safeHTML)
        "type" "success"
        "id" "success-dialog"
      ) }}

      {{- partial "common/dialog.html" (dict
        "header" ((T "cf.submit_error_header") | safeHTML)
        "text" ((T "cf.submit_error_msg") | safeHTML)
        "type" "error"
        "id" "error-dialog"
      ) }}
      <button onclick="showDialog('success-dialog')">Show Success</button>
      <button onclick="showDialog('error-dialog')">Show Error</button>
    </form>
  </div>

  <div class="contact-form__addon">
    <h3>{{ .Params.addon_header }}</h3>
    <p>{{ .Params.add_on_notes }}</p>
  </div>
</section>
{{ end }}

{{ define "page-scripts" }}
  {{ partial "script-bundle.html" "js/form-scripts.js" }}
{{ end }}