{{ define "main" }}
<section id="main">
  <h1 id="title">{{ .Title }}</h1>

  <article id="content">
    {{ .Content }}
  </article>

  <div class="contact-form">
    {{ with .Params.subtitle -}}
      <h2 class="contact-form__header">{{ . }}</h2>
    {{- end }}

    <form id="cform" class="contact-form__form cform" autocomplete="on">
      <div class="cform__field">
        <label class="cform__label">Name
          <input
            class="cform__input"
            type="text"
            name="name"
            required
            maxlength="128"
            autocomplete="name"
            value="Test Name"
          >
        </label>
        <p class="cform__err-msg">Fehler! Bitte überprüfen Sie dieses Formularfeld</p>
      </div>

      <div class="cform__field">
        <label class="cform__label">Unternehmensname
          <input
            class="cform__input"
            type="text"
            name="company-name"
            maxlength="256"
            autocomplete="organization"
          >
        </label>
        <p class="cform__err-msg">Fehler! Bitte überprüfen Sie dieses Formularfeld</p>
      </div>

      <div class="cform__field">
        <label class="cform__label">Email
          <input
            class="cform__input"
            type="email"
            name="email"
            required
            maxlength="128"
            autocomplete="email"
          >
        </label>
        <p class="cform__err-msg">Fehler! Bitte überprüfen Sie dieses Formularfeld</p>
      </div>  

      <div class="cform__field">
        <label class="cform__label">Telefonnummer
          <input
            class="cform__input"
            type="tel"
            name="phone"
            minlength="3"
            maxlength="128"
            autocomplete="tel"
          >
        </label>
        <p class="cform__err-msg">Fehler! Bitte überprüfen Sie dieses Formularfeld</p>
      </div>

      <div class="cform__field cform__field--wide">
        <label class="cform__label">Nachricht
          <textarea
          class="cform__input"
          name="message"
          required
          maxlength="4096"
          cols="30" rows="10"
          >Das Kontaktformular funktioniert leider noch nicht
          </textarea>
        </label>
        <p class="cform__err-msg">Fehler! Bitte überprüfen Sie dieses Formularfeld</p>
      </div>

      <div class="cform__field">
        <label class="cform__label">
          <input
            class="cform__chk-input"
            type="checkbox"
            name="agree-chk"
            required
          >
          Ich stimme der erste Option zu.
        </label>
        <p class="cform__err-msg">Fehler! Bitte überprüfen Sie dieses Formularfeld</p>
      </div>

      <div class="cform__field">
        <label class="cform__label">
          <input type="checkbox" name="news-chk" class="cform__chk-input">          
          Ich stimme der zweite Option zu.
        </label>
        <p class="cform__err-msg">Fehler! Bitte überprüfen Sie dieses Formularfeld</p>
      </div>

      <div class="cform__field cform__field--wide">
        <button class="cform__submit">Senden</button>
      </div>
    </form>

    <dialog class="success-dialog">
      <button class="success-dialog__close" autofocus>Close</button>
      <p>Congrats!<br>You message successfuly sent</p>
    </dialog>
    <button class="tmp_show-btn" type="button">Show</button>

    <div class="contact-form__addon">
      <h3>{{ .Params.addon_header }}</h3>
      <p>{{ .Params.add_on_notes }}</p>
    </div>
  </div>
</section>

{{ end }}