@layer reset {

  :root {
    interpolate-size: allow-keywords;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  
    // outline: 1px solid blue;
  }
  
  html {
    min-height: 100vh;
  }
  
  body {
    min-height: 100vh;
    margin: 0;
    background: var(--bg);
    font-family: var(--font-sans);
    font-size: var(--font-size);
    line-height: 1.6;
    color: var(--fg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    margin-bottom: .5em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
    text-wrap: balance;
    color: var(--fg)
  }
  
  h1, h2, h3, h4 {
    line-height: 1.1;
  }
  
  h3 {
    line-height: 1.35;
  }
  
  h1 {
    font-size: clamp(2.75rem, 10vw - 1rem, 4.5rem);
  }
  
  h1 + p {
    font-size: 1.275rem;
    margin-block: 1rem 3.25rem;
  }
  
  p {
    text-wrap: pretty;
  }
  
  img {
    max-width: 100%;
    display: block;
  }

  input,
  button,
  textarea {
    font: inherit;
  }

  textarea {
    resize: none;
    box-sizing: content-box;
  }
  
  .wrapper {
    min-height: 100%;
    // max-width: var(--wraper-max-width);
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 1px;
  }
  
  .width-wrapper {
    width: min(100% - calc(var(--block-gap) * 2), var(--wraper-max-width));
    margin-inline: auto;
  }
  
  /* Screen reader only content */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}