.scroller {
    max-width: Min(calc(100vw - (var(--block-gap) * 2)), 92ch);
    // max-width: 100%;
    margin-block: var(--block-gap);
    margin-inline: auto;
    color: var(--primary-contrast);

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: calc(var(--block-gap) * 1.5);
        margin: 0;
        padding-block: calc(var(--block-gap) * 1.5);
        padding-inline: 0;
        list-style: none;

        & > li {
            padding-block: calc(var(--block-padding) * 0.5);
            padding-inline: var(--block-padding);
            background-color: var(--clr-primary-400);
            background-color: var(--secondary);
            border-radius: var(--radius-sm);
            box-shadow: var(--shadow);
        }
    }

    &[data-direction="right"] {
        --_animation-direction: reverse;
    }
    
    &[data-direction="left"] {
        --_animation-direction: forwards;
    }

    &[data-speed="fast"] {
        --_animation-duration: 20s;
    }

    &[data-speed="slow"] {
        --_animation-duration: 80s;
    }

    &[data-animated="true"] {        
        overflow: hidden;
        -webkit-mask: linear-gradient(90deg, transparent, var(--bg) 10%, var(--bg) 90%, transparent);
        mask: linear-gradient(90deg, transparent, var(--bg) 10%, var(--bg) 90%, transparent);
        
        .scroller__list {
            width: max-content;
            flex-wrap: nowrap;
            animation:
                scroll
                var(--_animation-duration, 40s)
                var(--_animation-direction, forwards)
                linear
                infinite;
        }
    }

    @keyframes scroll {
        to {
            transform: translate(calc(-50% - var(--block-gap) / 2));
        }
        
    }
}